<%- include("../partials/header"); -%>

<div class="composeContainer">
  <div class="composeTitle">
    <h1>EDITAR POST</h1>
  </div>
  <form action="/posts/edit" method="post">
    <div class="form-control">
      <label>Title</label>
      <input class="form-control" type="text" name="editTitle" value="<%= title %>" />
    </div>
    <div class="form-control">
      <label>Post</label>
      <textarea required class="editor" name="editBody"><%= content %></textarea>
      <textarea class="form-control idForm" name="editId" rows="1" readonly><%= id %></textarea>
    </div>
    <div class="publishContainer">
      <button type="submit" name="button">Publicar</button>
    </div>
</div>

<%- include("../partials/footer"); -%>