<%- include("../partials/header"); -%>

<div class="container blog-container">
  <form action="/newPost" method="POST">
    <button class="btn btn-primary">COMPOSE</button>
  </form>

  <% posts.forEach(function(post){ %>
    <div class="container editContainer">
      <div style="display: flex; flex-direction: row;">
        <p style="margin-right: 10px;" class="col"><%= post.title %>,</p>
        <form class="idForEditForm" action="/posts/edit" method="POST">
          <textarea name="idForEdit" readonly><%= post.id %></textarea>
          <input type="submit" class="btn btn-primary" value="EDIT" />
        </form>
        <form action="/posts/delete" method="POST">
          <textarea style="display: none;" name="idForDelete" readonly><%= post.id %></textarea>
          <input type="submit" class="btn btn-danger" value="DELETE" />
        </form>
      </div>
      <div class="commentDashboard">
        <p>Comentários:</p>
        <%comments.forEach(function(comment) {%>
          <%if(comment.postId === post.id) {%>
            <div style="display: flex; flex-direction: row;">
              <p><%=comment.comment.substring(0, 50) + " ..."%></p>
              <form action="/comment/delete" method="POST">
                <textarea style="display: none;" name="commentForDelete" readonly><%= comment.id %></textarea>
                <input type="submit" class="btn btn-danger" value="X" />
              </form>
            </div>
        <%}})%>
      </div>
    </div>
  <% }); %>
</div>

<%- include("../partials/footer"); -%>
