<%- include("partials/header"); -%>
<div class="container">
  <h1>Edit Post</h1>
  <form class="" action="/edit" method="post">
    <div class="form-group">
      <label>Title</label>
      <input
        class="form-control"
        type="text"
        name="editTitle"
        value="<%= title %>"
      />
      <label>Post</label>
      <textarea class="form-control" name="editBody" rows="15" cols="30">
<%= content %></textarea
      >
      <textarea class="form-control idForm" name="editId" rows="1" readonly>
<%= id %></textarea
      >
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>
</div>

<div class="container">
  <h2>Text edit reference:</h2>
  <textarea class="form-control" rows="6" readonly>
    Paragraph: <br><br>
    Bold: <b></b>
    Italic: <i></i>
    Color change: <spam style="color: color;"></spam>
    Image: <div class="text-center" style="width: 100%;"><img class="text-center" src="" alt=""></div>
  </textarea>
</div>
<%- include("partials/footer"); -%>
