<%- include("partials/header"); -%>
<div class="home container">
  <div id="logo"></div>
  <p class="presentationPage" id="intro">
    Project development updates, games discussions, and other random things.
  </p>
</div>

<div class="postsContainer">
  <% posts.forEach(function(post){ %>
    <div class="posts container">
      <a href="/posts/<%=post._id%>">
        <h1><%=post.title%></h1>
        <p><%=post.date%></p>
        <p>
          <%-post.content.substring(0, 400) + " ..."%>
        </p>
      </a>
    </div>
  <% }) %>
</div>

<%const nextPage = parseInt(params) + 1%>

<p style="display: none;" class="pagination">
  <a class="pagination__next" href="/<%=nextPage%>">Next page</a>
</p>

<script src="/js/infinite-scroll.pkgd.min.js"></script>
<%- include("partials/footer"); -%>
