<%- include("partials/header"); -%>
<div class="home container">
  <div id="logo"></div>
  <img src="/public/css/images/logo.png" alt="" />
  <p class="posts" id="intro">
    Project development updates, games discussions, and other random things.
  </p>
</div>

<% posts.forEach(function(post){ %>
<div class="posts container">
  <a href="/posts/<%=post._id%>">
    <h1><%=post.title%></h1>
    <p>
      <%-post.content.substring(0, 400) + " ..."%>
    </p>
  </a>
</div>

<% }) %> <%- include("partials/footer"); -%>
