<%- include("partials/header"); -%>
<div class="home">
  <p id="intro">
    Bem-vindo ao meu blog! </br> Meu nome é Rafael e aqui eu vou postar minhas aventuras no mundo do desenvolvimento web,
    videogames e aleatoriedades.
  </p>
</div>

<div class="postsContainer">
  <% posts.forEach(function(post){ %>
  <div class="posts container">
    <a href="/posts/<%=post._id%>">
      <h1><%=post.title%></h1>
      <p class="postDate"><%=post.date%></p>
      <p class="postContent">
        <%-post.content.substring(0, 400) + " ..."%>
      </p>
    </a>
  </div>
  <% }) %>
</div>

<%const nextPage = parseInt(params) + 1%>

<p style="display: none;" class="pagination">
  <a class="pagination__next" href="/<%=nextPage%>">Next page</a>
</p>

<%- include("partials/footer"); -%>