<%- include("partials/header"); -%>

<div class="postPage">
  <div class="postContainer">
    <h1><%=title%></h1>
    <div class="postContent"><%-content%></div>
    <p class="postDate"><%=date%></p>
  </div>

  <div class="commentContainer">
    <h3>Comentários:</h3>
    <div class="commentList">
      <%if(comments.length === 0) {%>
      <p class="emptyPost">Esse post não tem comentários, seja o primerio a comentar!</p>
      <%}%>
      <% comments.forEach(function(comment){ %>
      <div class="commentBox">
        <h4><%= comment.user %>:</h4>
        <p><%= comment.comment %></p>
      </div>
      <% }) %>
    </div>
    <div class="makeComment">
      <div class="commentTitle">
        <h3>Deixe seu comentário:</h3>
      </div>
      <form action="/comment" method="post">
        <input readonly type="text" name="postId" style="display: none;" value="<%= id %>">
        <label for="commenter">Nome:</label>
        <input required type="text" class="commenter" name="commenter" />
        <label for="commentInput">Comentário:</label>
        <textarea required type="text" class="commentInput" id="commentInput" name="commentInput" rows="15"></textarea>
        <p class="charCount" id="charCount" onchange="handleCharCount()"></p>
        <div class="captcha">
          <div><%- captcha.data %></div>
          <label for="captchaInput">Digite os caractéres da imagem:</label>
          <input type="text" id="captchaInput" name="captchaInput" />
          <p id="error"></p>
        </div>
        <input class="inputSubmit" type="submit" value="ENVIAR" id="commentSubmit"
          onclick="validate('<%= captcha.text %>', event)" />
      </form>
    </div>
  </div>
</div>

<script src="/js/commentValidation.js"></script>

<%- include("partials/footer"); -%>