<%- include("partials/header"); -%>

<div class="container postPage">
  <h1><%=title%></h1>
  <p><%-content%></p>
</div>

<div class="container commentContainer">
  <div class="commentList">
    <h3>Comments:</h3>
    <% comments.forEach(function(comment){ %>
      <div class="commentBox">
        <h4><%= comment.user %>:</h4>
        <p><%= comment.comment %></p>
      </div>
    <% }) %>
  </div>
  <div class="makeComment">
    <h3>Make a comment:</h3>
    <form action="/comment" method="post">
      <input readonly type="text" name="postId" style="display: none;" value="<%= id %>">
      <label for="commenter">Name:</label>
      <input required type="text" class="commenter" name="commenter" />
      <label for="commentInput">Comment:</label>
      <textarea required type="text" class="commentInput" name="commentInput"></textarea>
      <input class="inputSubmit" type="submit" value="Submit"/>
    </form>
  </div>
</div>

<%- include("partials/footer"); -%>