<%- include("partials/header"); -%>

<div class="searchTitle">
  <h3><%= number %> resultados da pesquisa:</h3>
</div>

<div class="postsContainer">
  <% posts.forEach(function(post){ %>
  <div class="posts container">
    <a href="/posts/<%=post._id%>">
      <h1><%=post.title%></h1>
      <p class="postDate"><%=post.date%></p>
      <p class="postContent">
        <%-post.content.substring(0, 400) + " ..."%>
      </p>
    </a>
  </div>
  <% }) %>
</div>

<%- include("partials/footer"); -%>